<!--Only add to DOM if request successful (_mediaSource populated with video data)-->
<ng-container class="panel-wrapper" *ngIf="_mediaSource">
  <div class="details-container">
    <div class="left-panel">
      <h3>{{_mediaSource.title}}</h3>
      <h4>{{_mediaSource.description}}</h4>
    </div>
    <div class="right-panel">    
      <h3>History</h3>
      <h4 *ngFor="let item of historyList">{{item.title}}</h4>      
    </div>
  </div>
  <div class="video-container">
    <video id="video" *ngIf="_mediaSource" controls>
      <ng-container *ngFor="let video of _mediaSource.contents">
        <source [src]="video.url" type="video/mp4">
      </ng-container>
      Your browser does not support the video tag.
    </video>
  </div>
</ng-container>

<!--If request not successful-->
<ng-container *ngIf="!_mediaSource">
  <h3>Video Not Found</h3>
</ng-container>
